*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

.m-5 {
  margin: 1.25rem
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.mt-5 {
  margin-top: 1.25rem
}

.flex {
  display: flex
}

.w-3\/5 {
  width: 60%
}

.w-4\/5 {
  width: 80%
}

.flex-1 {
  flex: 1 1 0%
}

.items-center {
  align-items: center
}

.rounded-2xl {
  border-radius: 1rem
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-0 {
  border-width: 0px
}

.border-indigo-500 {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity))
}

.bg-indigo-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity))
}

.px-28 {
  padding-left: 7rem;
  padding-right: 7rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.pt-5 {
  padding-top: 1.25rem
}

.pt-96 {
  padding-top: 24rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pt-2 {
  padding-top: 0.5rem
}

.pt-2\.5 {
  padding-top: 0.625rem
}

.text-center {
  text-align: center
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.font-bold {
  font-weight: 700
}

.font-extrabold {
  font-weight: 800
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-indigo-500 {
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity))
}