.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.flex {
  display: flex
}

.w-3\/5 {
  width: 60%
}

.w-4\/5 {
  width: 80%
}

.flex-1 {
  flex: 1 1 0%
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-2xl {
  border-radius: 1rem
}

.border-2 {
  border-width: 2px
}

.border-indigo-500 {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity))
}

.bg-indigo-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity))
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.pt-96 {
  padding-top: 24rem
}

.text-center {
  text-align: center
}

.font-Inter {
  font-family: InterRegular
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-extrabold {
  font-weight: 800
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.text-indigo-500 {
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
